-- CreateEnum
CREATE TYPE "ContractorSpecialization" AS ENUM ('FUNDATII', 'STRUCTURA', 'PLANSEU', 'ACOPERIS', 'TAMPLARIE', 'INSTALATII_ELECTRICE', 'INSTALATII_SANITARE', 'INSTALATII_TERMICE', 'FINISAJE', 'CONSTRUCTII_GENERALE');

-- AlterTable
ALTER TABLE "ContractorProfile" DROP COLUMN "specializations",
ADD COLUMN     "specializations" "ContractorSpecialization"[];

-- AlterTable
ALTER TABLE "MarketForecastCache" ALTER COLUMN "modelUsed" SET DEFAULT 'gemini-1.5-pro';

